<div class="card">
  <div class="card-body">
    <div class="form-group">
      <label class="heading">Search</label>
      <div class="input-group">
        <input [(ngModel)]="searchQuery" type="text" class="form-control form-control-sm" id="searchBox" placeholder="Enter search query">
        <span class="input-group-btn">
          <button (click)="search()" type="submit" class="btn btn-success btn-sm" id="searchButton">
            <i class="fa fa-search"></i> Search
          </button>
        </span>
      </div>
      <br>
      <label class="heading">Search By</label>
      <div id="optionsList" class="form-group">
        <div class="form-check form-check-inline">
          <input type="radio" name="searchOptions" class="form-check-input" [value]="1" [(ngModel)]="selectedSearchOption">
          <label class="form-check-label">File Name</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" name="searchOptions" class="form-check-input" [value]="2" [(ngModel)]="selectedSearchOption">
          <label class="form-check-label">File Type</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" name="searchOptions" class="form-check-input" [value]="3" [(ngModel)]="selectedSearchOption">
          <label class="form-check-label">User Name</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" name="searchOptions" class="form-check-input" [value]="4" [(ngModel)]="selectedSearchOption">
          <label class="form-check-label">User Type</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="results.length > 0" class="card mt-3 mb-5">
    <div class="card-body">
      <label class="heading">Results</label>
      <div *ngFor="let result of results" class="mb-3">
        <div class="row">
          <div class="col-md-1 text-center">
            <i *ngIf="result.fileType !== 'docx' && result.fileType !== 'pdf'" class="far fa-file fa-3x"></i>
            <i *ngIf="result.fileType === 'docx'" class="far fa-file-word fa-3x"></i>
            <i *ngIf="result.fileType === 'pdf'" class="far fa-file-pdf fa-3x"></i>
          </div>
          <div class="col-md-11">
            <div class="row">
              <div class="col">
                <span tooltip="{{ result.fileSize }} KB"
                      class="heading">{{ result.fileName }}</span>
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col text-monospace">
                {{ result.fileContent }}..."
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span tooltip="{{ result.userType }}"
                      [ngClass]="{'badge-success': result.userType === 'student', 'badge-warning': result.userType === 'instructor'}"
                      class="badge">
                  {{ result.userName }}
                </span>
                <span tooltip="Upload Date"
                      class="badge badge-secondary">
                  <i class="far fa-calendar-alt"></i> {{ result.uploadDate | date: 'yyyy-MM-dd' }}
                </span>
                <span (click)="downloadFile(result.fileName, result.uploadDate)" class="badge badge-primary" style="cursor: pointer">
                  <i class="fa fa-download"></i> Download
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>