<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="/">
          <i class="fa fa-search"></i> Search
        </a>
      </li>
      <li *ngIf="user" class="nav-item">
        <a class="nav-link" href="/profile">
          <i class="fa fa-user"></i> Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-chart-pie"></i> Statistics
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label class="heading">Search</label>
      <div class="input-group">
        <input (keyup.enter)="search()" [(ngModel)]="searchQuery" type="text" class="form-control form-control-sm" id="searchBox" placeholder="Enter search query">
        <span class="input-group-btn">
          <a class="nav-link" href="/search-results">
            <button (click)="search()" type="submit" class="btn btn-success btn-sm" id="searchButton">
              <i class="fa fa-search"></i> Search
            </button>
          </a>
        </span>
      </div>
      <br>
      <span>
        <label class="heading">Advanced Options</label>
      </span>
      <div class="input-group">
        <input type="text" class="form-control form-control-sm" [(ngModel)]="fileTypeQuery" placeholder="File Type">
        <span class="mr-1"></span>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="userNameQuery" placeholder="User Name">
        <span class="mr-1"></span>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="userTypeQuery" placeholder="User Type">
      </div>
    </div>
  </div>
</div>